<!DOCTYPE html>
<html lang="en">
{% load staticfiles %}
<head>
	<meta charset="UTF-8">
	<title>MyPaP tu red social</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<link rel="stylesheet" href="{% static 'css/materialize.min.css' %}">
	<link rel="stylesheet" href="{% static 'css/main.css' %}">
</head>
<body>

	<nav class="deep-purple">
		<div class="nav-wrapper container">
		<a href="/" class="brand-logo">MyPaP</a>
		<a href="#" data-activates="mobile-demo" class="button-collapse right"><i class="material-icons">menu</i></a>
		<ul class="right hide-on-med-and-down">
			<li><a href="{% url 'noti' %}">Nuevo</a></li>
			<li><a href="{% url 'vcall' %}">Videollamar</a></li>
			<li><a href="#">Chat</a></li>
			<li><a href="#">Amigos</a></li>
			<li><a href="{% url 'profile' %}">{{request.user.username}}</a></li>
			<li><a href="#">Salir</a></li>

		</ul>
		<ul class="side-nav navm" id="mobile-demo">
			
			<li><a href="#">Nuevo</a></li>
			<li><a href="#">Videollamar</a></li>
			<li><a href="#">Chat</a></li>
			<li><a href="#">Amigos</a></li>
			<li><a href="#">{{request.user.username}}</a></li>
			<li><a href="#">Salir</a></li>

		</ul>
		</div>
	</nav>

		<div class="row">

				<div class="col s12 m8 l3 blue offset-m2 friends">

				<ul class="collection">
				<li class="collection-item avatar">
				<img src="{% static 'img/html5.png' %}" alt="" class="circle">
				<span class="title">Fulano</span>
				<!--<p>First Line <br>
					Second Line
				</p>-->
				<a href="{% url 'vcall' %}" class="right">
					<i class="material-icons">videocam</i>
				</a>
				<br>
				<a href="{% url 'chat' %}" class="right">
					<i class="material-icons">chat</i>
				</a>
			
				</li>
			</ul>

				<ul class="collection">
				<li class="collection-item avatar">
				<img src="{% static 'img/html5.png' %}" alt="" class="circle">
				<span class="title">Juan</span>
				<!--<p>First Line <br>
					Second Line
				</p>-->
				<a href="{% url 'vcall' %}" class="right">
					<i class="material-icons">videocam</i>
				</a>
				<br>
				<a href="{% url 'chat' %}" class="right">
					<i class="material-icons">chat</i>
				</a>
			
				</li>
			</ul>

				<ul class="collection">
				<li class="collection-item avatar">
				<img src="{% static 'img/imgMyPaP.png' %}" alt="" class="circle">
				<span class="title">Jose</span>
				
				<a href="{% url 'vcall' %}" class="right">
					<i class="material-icons">videocam</i>
				</a>
				<br>
				<a href="{% url 'chat' %}" class="right">
					<i class="material-icons">chat</i>
				</a>

				</li>
			</ul>
			
			<div class="card-panel teal">
			<span class="white-text">I am a very simple card. 
				I am good at containing small bits of information.
			I am convenient because I require little markup to use
				effectively. I am similar to what is called a panel in other frameworks.
			</span>
			</div>
		
		</div>
		
		<div class="row">
			<div class="col s12 m12 l9">
				{% block content %}{% endblock %}
			</div>
		</div>
		
	</div>

	<script src="{% static 'js/jquery-3.1.0.min.js' %}"></script>
	<script src="{% static 'js/materialize.min.js' %}"></script>
	<script src="{% static 'js/navbar.js' %}"></script>
</body>
</html>