{% extends 'base.html' %}

{% load staticfiles %}

{% block content %}

	<div class="container">
		<div class="row">
			<h3 class="center">hablando con {{request.user}}</h3>

			<div class="col s10 l6 offset-s1 offset-l3">
				<ul class="collection">
					<li class="collection-item">hola</li>
					<li class="collection-item">hola</li>
					<li class="collection-item">hola</li>
					<li class="collection-item">hola</li>
					<li class="collection-item">hola</li>
					<li class="collection-item">hola</li>
				</ul>
			</div>

			<div class="col s10 m8 l8 offset-s1 offset-m2 offset-l3">
				<form action="" method="post">
					{% csrf_token %}
					<div class="row">
						<div class="input-field col s8 l6">
							<label for="chat">Mensaje:</label>
							<input type="text" name="msj" id="chat">
						</div>
						<button class="col s4 l2 btn waves-effect waves-light">enviar</button>
					</div>
						<!--<input type="button" class="btn waves-effect waves-light" value="enviar">-->
				</form>
			</div>


		</div>
	</div>

{% endblock %}