{% extends 'baseHome.html' %}

{% load staticfiles %}

{% block content %}

	<h3 class="white-text center animated zoomIn">Estas en My<span id="keyword">P</span>aP</h3>

	<div class="white-text col s12 m12 l6 animated bounceInLeft">
	<h4 class="center">Con MyPaP puedes:</h4>
	
		<h5>
			<ol class="">
				<li>Hacer Videollamadas</li>
				<li>Conocer personas o nuevos amigos</li>
				<li>Subir fotos</li>
				<li>Chatear con tus amigos</li>
				<li>y otras cosas mas...</li>
			</ol>
		</h5>
	
		<h4 class="center"><a href="#user">Inicia Sesión</a> y verás....</h4>

		<h4 class=" center">Si quieres saber como funciona, da click en 
			<a href="{% url 'help' %}">ayuda</a>
		</h4>
	</div>

	<div id="login" class="col s12 m12 l6 center card-panel animated bounceInRight hoverable">
		<h4>Chatea, Videollama y disfruta con MyPaP</h4>
		{% csrf_token %}
		
		<div class="col s12">

		<form action="" method="GET">
			<div class="input-field ">
				<label for="user">Nombre de Usuario</label>
				<input type="text" name="user" id="user">
			</div>

			<div class="input-field"> 
				<label for="pw">Contraseña</label>
				<input type="password" name="pw" id="pw">
			</div>
			
			<button class="btn blue" type="submit">acceder</button>
		</form>
		
		<h4>
			Si no tienes cuenta <a href="{% url 'register' %}">registrate</a>
		</h4>
		
		</div>

	</div>


	<!--<video class="col s12 m12 l6 card-panel responsive-video"
	src="{% static 'video/mypap_ojo.mp4' %}" autoplay="autoplay" loop="loop" width="450"></video>-->
{% endblock %}