{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}
		
		<div class="container">
			<div class="row">
				
				<div class="col s12 m12 l12">
				<br>
				<form action="" method="POST" class="center card-panel hoverable" enctype="multipart/form-data">

					{% csrf_token %}
					<div class="input-field col s12 m6 l6 animated bounce">
						<label for="id_text">Nombre:</label>
						<input type="text" name="nombre" id="id_text" value="{{request.user}}">
					</div>
					
					<div class="input-field col s12 m6 l6 animated bounce">
						<label for="id_email">Correo:</label>
						<input type="email" name="correo" id="id_email">
					</div>
					
					<div class="input-field col s12 m6 l6 animated bounce">
						<label for="id_edad">Edad:</label>
						<input type="number" name="edad" id="id_edad">
					</div>
					
					<div class="file-field input-field col s12 m6 l6 animated bounce">
						<div class="btn blue">
						<span>File</span>
						<input type="file" name="image" multiple>
					</div>
					<div class="file-path-wrapper">
						<input class="file-path validate" name="image" type="text" 
						placeholder="Upload one or more files">
					</div>
					</div>
					<!--<input type="submit" class="btn waves-effect waves-light" value="guardar">-->
					<button class="btn waves-effect waves-light orange animated bounce" type="submit" name="action">Comentar</button>
				</form>
			</div>

			{% for persona in personas %}
			<div class="col s12 m12 l6">
			<div class="card medium hoverable zoom">

				<div class="card-image responsive-img">
					<h4 class="center title">{{persona.nombre | title}}</h4>
					<img class="materialboxed" src="{{MEDIA_URL}}{{persona.image}}">
				</div>
				<div class="card-content">
					<p>{{persona.correo}}</p>
				<!--<p>{{persona.nombre}}</p>-->
				<!--<p>{{request.user}}</p>-->
				</div>
				<div class="card-action">
					<a href="#"><i class="material-icons">grade</i></a>
					<a href="#" id="comment"><i class="material-icons">comment</i></a>
					{% if request.user.username == persona.nombre %}
					<a href="/noti/{{persona.id}}/"><i class="material-icons">delete</i></a>
					{% endif %}
				</div>
			</div>
			
			<form action="" method="POST" class="formComment" id="{{persona.id}}">
				{% csrf_token %}
				
				<div class="input-field col s12 m7 l9 animated slideInDown">
					<label for="id_comment">comentario</label>
					<input type="text" name="comment" id="id_comment">
				</div>
				
				<div class="input-field col s10 m5 l6 animated slideInDown" >
					<button class="btn col" type="submit" id="btn-form">comentar</button>
				</div>
			</form>

			<ul id="{{persona.id}}" class="col s12 collection animated slideInDown">
				{% for comment in comments %}
					{% if comment.ref_persona.nombre == persona.nombre %}
						<li class="collection-item"><strong>{{comment.persona}}</strong> {{comment.text}}</li>
					{% endif %}
				{% endfor %}
			</ul>

			</div>
			{% endfor %}

			</div>
		</div>

{% endblock %}

{% block js %}

		<script src="{% static 'js/noti.js' %}"></script>

{% endblock %}