{% extends 'base.html' %}
{% load staticfiles %}

{% block css %}
	<link rel="stylesheet" href="{% static 'css/profile.css' %}">	
{% endblock %}	

{% block content %}
	<div class="row">
	<div class="col s12 m12 l10 offset-l1">

		<div id="vent" style="display:none;" class="card-panel col s12 center">
			<i id="close" class="material-icons right small">close</i>
			<h3>¿Quieres saber para que puede usar MyPaP? da click en
				<a href="{% url 'help'  %}"> ayuda</a>
			</h3>
		</div>

		<div class="card-panel col s12 m6 l6 animated flipInX">
			<img src="{% static 'img/imgMyPaP.png' %}" class="col s12"  alt="{{request.user.username}}">
			<a href="" class="btn">cambiar</a>
			<br><br>
		</div>

		<form method="POST" enctype="multipart/form-data" class="col s12 m6 l6 center card-panel animated flipInY">
		<h3 class="center">{{request.user.username}}</h3>
			{% csrf_token %}

			<div class="input-field">
				<label for="id_text">Nombre:</label>
				<input type="text" name="nombre" id="id_text" value="{{request.user.username}}">
			</div>
			
			<div class="input-field">
				<label for="id_email">Correo:</label>
				<input type="email" name="correo" id="id_email" value="{{request.user.email}}">
			</div>
			
			<!--<div class="input-field">
				<label for="id_pw">Contaseña:</label>
				<input type="password" name="pw" id="id_pw" value="{{request.user.password}}">
			</div>-->

			<div class="file-field input-field">
				<div class="btn">
				<span>Cambiar Foto</span>
				<input type="file" name="image" multiple>
			</div>
			<div class="file-path-wrapper">
				<input class="file-path validate" name="image" type="text" 
				placeholder="Upload one or more files">
			</div>
			</div>
			<!--<input type="submit" class="btn waves-effect waves-light" value="guardar">-->
			
			<button class="btn waves-effect waves-light blue" type="submit" name="action">Guardar</button>
			<h4>
				<a href="">Para cambiar la contraseña de click aquí</a>
			</h4>
		</form>

	</div>
	</div>

{% endblock content %}

{% block js %}

	<script src="{% static 'js/profile.js' %}"></script>	

{% endblock %}

